:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
  @media (max-width: $tablet) {
    :root {
      --marquee-height: 16vh;
      --marquee-element-displayed: 3;
    }
  }
}

#marquee {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $pink;
    overflow: hidden;
}
.marquee-wrap {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: $green;
    overflow: hidden;
    position: absolute;
      width: 120%;
    // -webkit-transform: rotate(0deg);
    // transform: rotate(7deg);
    .marquee-content {
        list-style: none;
        height: 100%;
        display: flex;
        animation: scrolling var(--marquee-animation-duration) linear infinite;
        .chara {
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 3px solid $lBlue;
            cursor: pointer;
            width: var(--marquee-element-width); 
            flex-shrink: 0;
            font-size: calc(var(--marquee-height)*2/3);
            white-space: nowrap;
            img{
              width: 100px;
              min-height: 100px;
              height: 100px;
            }
            &:nth-child(2) { 
              animation-delay: 10s !important;
            }
            &:hover {
                -webkit-animation: kart_jump 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation: kart_jump 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            
        }
    }
}

#mar1 {
  top: 30%;
  -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
#mar2{
  top: 60%;
  -webkit-transform: rotate(-17deg);
    transform: rotate(-17deg);
}
// .chara1 {
//   background-image: url(/images/pixel/xmas.png);
//   background-repeat: no-repeat;
//   display: block;
//   width: 100%;
//   height: 100%;
//   width: 100px;
//   height: 168px;
//   background-position: -10px -10px;
// }

//loopwrap
.loopwrap { 
  -webkit-transition: -webkit-transform 30s linear; 
  transition: -webkit-transform 30s linear; 
  transition: transform 30s linear; 
  transition: transform 30s linear, 
  -webkit-transform 30s linear; 
  opacity: 1; 
  position: absolute; 
  top: 0; 
  overflow: hidden; 
}




//animation
@keyframes scrolling {
    0% { transform: translateX(0);}
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));}
}

@-webkit-keyframes kart_jump { 
  0% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% { -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes kart_jump { 
  0% { -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% { -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% { -webkit-transform: translateY(0);
    transform: translateY(0); } }
